
{% extends 'base3.html.twig' %}



{% block body %}
	<div id="panneluser" style="float : left;" class="container-fluid col-sm-3">
		<div class="jumbotron">
			<h2><center>Bienvenu {{ app.session.get('nom')}}</center></h2><hr>
			Nom : {{app.session.get('nom')}}<br>
			Prenom : {{app.session.get('prenom')}}<br>
			Age : {{app.session.get('age')}}<br>
			E-mail : {{app.session.get('email')}}<br>
			Portable : {{app.session.get('tel')}}<br>
			<hr>
			<h2><center>Pense bête</center></h2><br>
			<a href="{{ path('affichage_Formulaire_Pense_Bete')}}" style="text-decoration: none;">+ Nouveau</a>
			{% for unPenseBete in LesPenseBetes %}
			<h4>{{unPenseBete.pensebete}} 
			<a href="{{ path('supprimer_Formulaire_Pense_Bete', {'id': unPenseBete.id}) }}">
			<button type="button" class="btn btn-primary" href="{{ path('supprimer_Formulaire_Pense_Bete', {'id': unPenseBete.id}) }}">Supprimer</button></a>
			</h4>
			{% endfor %}
		</div>

	</div>
	<div id="pannelreserv" style="float: right;" class="container-fluid col-xs-9">
		<div class="jumbotron">
		<center><h1>Listes des inscrits</h1></center><br>
		<table class="table">
		<tr>
			<th> Nom </th>
			<th> Prenom </th>
			<th> Login </th>
			<th> Age </th>
			<th> Email </th>
			<th> Tel </th>
		<tr>
		{% for unUser in lesUsers %}
					<tr>
						<td>{{unUser.nom}}</td>
						<td>{{unUser.prenom}}</td>
						<td>{{unUser.login}}</td>
						<td>{{unUser.age}}</td>
						<td>{{unUser.email}}</td>
						<td>{{unUser.tel}}</td>		
					</tr>
			{% endfor %}
			
		</table>

		</div>
	</div>
	

	


{%endblock%}

